@model MultiserviciosPiscinas.Models.ContactoViewModel

<h2>Contacto y Soporte</h2>

@if (TempData["Mensaje"] != null)
{
    // Recuperamos el tipo de mensaje (si no viene, por defecto será 'success')
    var tipoAlert = TempData["TipoMensaje"]?.ToString() ?? "success";

    <div class="alert alert-@tipoAlert alert-dismissible fade show text-center small" role="alert">
        @TempData["Mensaje"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form asp-action="Enviar" method="post">

    <div class="mb-3">
        <label>Asunto</label>
        <input asp-for="Asunto" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Mensaje</label>
        <textarea asp-for="Mensaje" class="form-control" required></textarea>
    </div>

    <button type="submit" class="btn btn-success">
        Enviar Consulta
    </button>

</form>