@model MultiserviciosPiscinas.Models.ContactoEmpresa

<h2>Medios de Contacto</h2>

<div class="card shadow-sm">
    <div class="card-body">

        <h5 class="mb-3">
            Información de contacto
        </h5>

        <p>
            <strong>Teléfono:</strong>
            @Model?.Telefono
        </p>

        <p>
            <strong>Correo:</strong>
            @Model?.Correo
        </p>

        <p>
            <strong>Dirección:</strong>
            @Model?.Direccion
        </p>

        <p>
            <strong>Horario de Atención:</strong>
            @Model?.HorarioAtencion
        </p>

    </div>
</div>