<h2>Información de Contacto</h2>

<div class="card">
    <div class="card-body">

        <p><strong>Teléfono:</strong> 2222-2222</p>

        <p><strong>Correo:</strong> soporte@multiserviciospiscinas.com</p>

        <p><strong>Dirección:</strong> Alajuela, Costa Rica</p>

        <p><strong>Horario:</strong> Lunes a Viernes de 8:00 a.m. a 5:00 p.m.</p>

    </div>
</div>